@using Microsoft.AspNetCore.Components.Authorization
<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                @* <Authorizing> *@
                @*     <p>Checking authentication...</p> *@
                @* </Authorizing> *@
            </AuthorizeRouteView>
        </Found>
        <NotFound>
            <p>Sorry, there’s nothing here.</p> 
        </NotFound>
    </Router>
</CascadingAuthenticationState>